body{
    background: linear-gradient(pink, white);
    height: 100vh;
    cursor:url('\FINAL\cat\other stuff\nat183.cur');

}
.switch{
    margin: 0 auto;
    width: 30vw;
    margin-top: 10vh;
    padding: 1em;
}

.catholder{
    margin: 0 auto;
    width: 30vw;
    height: 40vh;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 5px inset lightgray;
    padding: 1em;
    overflow: hidden;
}
@media only screen and (max-width: 1200px) {
.catholder{ width: 30vw; }

}
.titleholder{
    width: 100%;
    height: 8vh;
    position: relative;

}
@media only screen and (max-width: 1200px) {
    .titleholder{ height: 6vh; }
}
@media only screen and (max-width: 900px) {
    .titleholder{ height: 6vh; }
}
.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 90%; 
    gap: 1% 1%; 
    grid-template-areas: 
      "left right"; 
    
}
 @media only screen and (max-width: 1200px) {
    .container{ grid-template-rows: 100%; }
 }
 @media only screen and (max-width: 900px) {
    .container{ grid-template-rows: 100%; }
    
  }
  .left { 
    grid-area: left; 
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px inset lightgray;
    border-radius: 5px;
    padding: .3vmax;
    text-align: center;

}
  .right { 
    grid-area: right; 
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px inset lightgray;
    border-radius: 5px;
    padding: .3vmax;
    text-align: center;

  }
  .listing{
      text-align: left;
    
  }



    /*FONT*/
::selection{
    color: pink;
    background: transparent;
}
    

.basicfont{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-shadow: 0px 0px 3px lightgray;
    
}
@media only screen and (max-width: 1200px) {
    .basicfont{ font-size: 10px;}
}
.titlefont{
    font-family: "Adelia", cursive;
    color: pink;
    font-size: 3em;
    -webkit-text-stroke: 2px rgb(255, 102, 166);
    animation: titles 7s linear infinite;
}
@keyframes titles{
    0%, 100% { color: pink;}
    50% { color:rgb(255, 132, 183);}
    90% { color: rgb(255, 227, 232);}

}

.copyright{
    color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
    
}


@media only screen and (max-width: 1200px) {
    .titlefont{ font-size: 2em;}
}
@media only screen and (max-width: 1200px) {
    .copyright{ font-size: 7px;}
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 166, 178, 0.75), rgba(255, 166, 178, 0.75), rgba(255, 166, 178, 0.75), rgba(0, 0, 0, 0));
}
.bullets{
    list-style-image: url("\FINAL\cat\other stuff\catheart.gif");
}
/*FONT END*/

/*image stuff*/

.catwalk{
    position: absolute;
    right: 0px;
    width: 8vmax;
    bottom: 0em;
    
}
@media only screen and (max-width: 1200px) {
    .catwalk{ width: 8vh; bottom: 1vh; right: -1vw;  }
}
.icon{
    width: 10vw;
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
    .icon{ width: 10vw; }
}
.bullet{
    width: auto;
}
@media only screen and (max-width: 1200px) {
    .bullet { width:  10%;}
}
.family{
    width: 60%;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
    .family {width: 70%;}
}



/* BUTTON */
.switch{
    margin-bottom: -1em;
}

input[type=checkbox].toggle-switch{
    cursor: pointer;
appearance: none;
position: relative;
-webkit-appearance: none;
-moz-appearance: none;
width: 6em;
height: 3em;
border-radius: 3em;
background-color: pink;
outline: 0;
transition: background-color 0.03s ease-in-out;

}
input[type=checkbox].toggle-switch:checked{
background-color:rgb(255, 102, 166);
    

}
input[type=checkbox].toggle-switch::after{
content: ' ';
width: 3em;
height: 3em;
background-color: white;
border-radius: 3em;
transform: scale(0.7);
position: absolute;
left: 0;
transition: left 0.5s ease-in-out;
}
input[type=checkbox].toggle-switch:checked::after{
    left: 3em;
    
}




